/** Cachet Qatar website style sheet
    Created By : Irshad
    04-03-2017
**/

a,
a:hover{
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background: #fff !important;
    overflow-x: hidden;
}

header{
    position: relative;
    box-shadow: 0px 6px 10px #e9e7e7;
}
header .col-lg-2,
header .col-md-2,
header .col-sm-2{
    width: 14.666667%;
}
.logo_box{
    float: left;
    width: 150px;
    position: relative;
}
.logo_box:after{
    content: '';
    width: 60px;
    height: 100%;
    position: absolute;
    background: #fff;
    z-index: 10;
    bottom: 0;
    transform-origin: right bottom;
    transform: skewX(20deg);
    left: 140px;
    box-shadow: 5px 1px 3px 0px #e9e7e7;
}
.logo_box .logo{
    margin: 10%;
    z-index: 15;
    position: relative;
}
.logo_box .logo img{
    max-width: 100%;
}
.top_bar{
    float: left;
    margin-top: 20px;
    width: 100%;
}
.top_bar .social_media{
    float: left;
    margin-left: 50px;
}
.top_bar .social_media a{
    padding: 10px;
    color: #292a2f;
}
.top_bar .social_media a span{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    border: 1px solid #292a2f;
    border-radius: 50px;
    transition-duration: 0.6s;
}
.top_bar .social_media a:hover span{
    background: #1b9bcd;
    color: #fff;
    border-color: #1b9bcd;
    transition-duration: 0.6s;
}
.top_bar .contact{
    float: right;
}
.top_bar .contact a{
    font-size: 20px;
    margin-right: 10px;
    color: #292a2f;
    transition-duration: 0.6s;
}
.top_bar .contact a:hover{
    color: #1b9bcd;
    transition-duration: 0.6s;
}
.top_bar .contact a span{
    margin-right: 10px;
    font-size: 28px;
    transition-duration: 0.6s;
}
.top_bar .contact a:hover span{
   /* background: #1b9bcd;*/
    color: #1b9bcd;
   /* border-color: #1b9bcd;*/
    transition-duration: 0.6s;
}
.down_bar{
    width: 100%;
    position: absolute;
    top: 117px;
    background: #292a2f;
    z-index: 9;
}
.down_bar .menu_bar{
    width: 50%;
    float: left;
    height: 52px;
}
.down_bar .features{
    color: #fff;
    line-height: 52px;
}
.down_bar .features span{
    margin-right: 15px;
}
.down_bar .features span i{
    margin-right: 10px;
}

/***********  Navigation ***************/


#primary_nav_wrap
{
    display: inline-block;
    background: #1b9bcd;
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0;
    padding-left: 20px;
}

#primary_nav_wrap ul a
{
	display:block;
	color:#fff;
	text-decoration:none;
	font-weight:500;
	font-size:16px;
	line-height:32px;
	padding:10px 25px;

}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#ddd
}

#primary_nav_wrap ul li:hover
{
	background:#00aeef
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:230px
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}
#primary_nav_wrap ul ul ul li{
    border-bottom: 1px solid #fff;
}
#primary_nav_wrap ul li:hover > ul
{
	display:block;
    background: rgba(27, 155, 205, 0.85);
}


/********** Banner **********/

.banner{
    padding: 30px 0px;
    position: relative;
}
.banner .search_bx{
    background: #292a2f;
    position: absolute;
    top: 0;
    right: 98px;
    padding: 10px 15px;
}
.banner .search_bx input{
    padding-left: 8px;
    height: 40px;
    width: 280px;
    background: none;
    border: none;
    color: #fff;
}
.banner .search_bx input:focus{
    border-bottom: 1px solid #fff;
    outline: none;
    transition-duration: 0.6s;
}
.banner .search_bx button{
    height: 40px;
    width: 40px;
    background: none;
    border: none;
    color: #fff;
}
.banner .owl-carousel{
    
}
.banner .owl-carousel .item{
    margin-top: 50px;
}
.banner .owl-carousel .item .slide_img{
    
}
.banner .owl-carousel .item .slide_img img{
    max-width: 100%;
}
.banner .owl-carousel .item .slid_description{
    
}
.banner .owl-carousel .item .slid_description h1{
    font-size: 28px;
    font-weight: 500px;
    color: #292a2f;
}
.banner .owl-carousel .item .slid_description span{
    padding-bottom: 20px;
    color: #79797a;
}
.banner .owl-carousel .item .slid_description p{
    margin-top: 20px;
    color: #8c8c8c;
    line-height: 26px;
}
.banner .owl-carousel .item .slid_description h3{
    font-size: 18px;
    font-weight: 600;
    color: #808080;
}
.banner .owl-carousel .item .slid_description .old_price{
    text-decoration: line-through!important;
    float: left;
    margin-right: 20px;
}
.banner .owl-carousel .item .slid_description .new_price{
    color: #1b9bcd;
    float: left;
}
.banner .owl-carousel .item .slid_description a{
    padding: 10px 25px;
    background: #1b9bcd;
    color: #fff;
    float: right;
    margin-top: 50px;
}
.owl-controls{
    position: absolute;
    top: 175px;
    font-size: 35px;
}
.owl-prev{
    background: #b7b7b7;
    padding: 0px 20px;
    color: #fff;
}
.owl-next{
    background: #b7b7b7;
    padding: 0px 20px;
    color: #fff;
}
.offers{
    padding: 30px 0px;
}
.offers .heading{
    background: url('../images/Rectangle-11.png')no-repeat;
    /*background: #0e8fc2;*/
    background-position-x: -382px;
}
.offers .heading hr{
    border-color: #0e8fc2;
    margin-top: 14px;
}
.owl-prev{
       position: absolute;
    right: -1111px; 
}
.offers h1{
    font-size: 28px;
    color: #fff;
}
.product_listing{
    text-align: center;
}
.product_listing .product_box{
    box-shadow: 0px 0px 20px 6px #ccc;
    position: relative;
    margin-top: 30px;
    text-align: left;
}
.product_listing .normal{
    margin: 0;
}
.product_listing .product_box .pro_img{
    
}
.product_listing .product_box .pro_img img{
    max-width: 100%;
}
.product_listing .product_box .pro_details{
    padding: 0px 15px;
    padding-bottom: 20px;
}
.product_listing .product_box .pro_details h2{
    font-size: 16px;
    font-weight: 500;
}
.product_listing .product_box .pro_details span{
    width: 100%;
    display: block;
}
.product_listing .product_box .pro_details h3{
    font-size: 18px;
    font-weight: 600;
    color: #808080;
}
.product_listing .product_box .pro_details .old_price{
    float: left;
    margin-right: 20px;
    text-decoration: line-through!important;
}
.product_listing .product_box .pro_details a{
    display: inline-block;
    border: none;
}
.product_listing .product_box .pro_details .new_price{
    color: #1b9bcd;
}
.product_listing .product_box .pro_details .buy_now{
    background: url('../images/Shape-3.png') center no-repeat;
    position: absolute;
    bottom: 0;
    color: #fff;
    right: 0;
    padding: 5px 10px;
    text-align: center;
    width: 122px;
    height: 150px;
}
.product_listing .product_box .pro_details .buy_now span{
    font-size: 28px;
    position: absolute;
    right: -20px;
    bottom: 33px;
}
.product_listing .product_box .pro_details .buy_now h4{
    font-size: 12px;
    color: #fff;
    right: 15px;
    position: absolute;
    bottom: 8px;
}
.product_listing a{
    padding: 10px 35px;
    display: inline-block;
    color: #0e8fc2;
    border: 1px solid #0e8fc2;
    text-align: center;
    transition-duration: 0.6s;
}
.product_listing a:hover{
    background: #0e8fc2;
    color: #fff;
    transition-duration: 0.6s;
}


.buy_easy_steps{
    background: url('../images/shopping11.png') center no-repeat;
    background-attachment: fixed;
    padding: 50px 0px;
    text-align: center;
    color: #fff;
}
.buy_easy_steps h1{
    font-size: 28px;
    font-weight: 500;
}
.buy_easy_steps .the_prosess{
    display: inline-block;
    margin: 50px auto;
    width: 90%;
}
.buy_easy_steps .the_prosess .icon_box{
    width: 14.28571428571429%;
    height: 150px;
   /* background: #000;*/
    float: left;
}
.buy_easy_steps .the_prosess .icon_box span{
    width: 150px;
    height: 150px;
    line-height: 150px;
    border: 3px solid #fff;
    border-radius: 150px;
    display: inline-block;
    font-size: 35px;
}
.buy_easy_steps .the_prosess .row_box{
    height: 150px;
    /*background: #fff;*/
    width: 28.57142857142857%;
    float: left;
    line-height: 150px;
    padding: 0px 10px;
}
.buy_easy_steps .the_prosess .row_box span{
    height: 3px;
    width: 100%;
    background: #fff;
    display: inline-block;
}

footer{
    padding-top: 30px;
    text-align: center;
}
footer .logo{
    width: 120px;
    margin: 0 auto;
}
footer .logo img{
    max-width: 100%;
}
footer .contact{
    padding: 15px 0px;
}
footer .contact a{
    font-size: 18px;
    color: #292a2f;
    margin-right: 15px;
    transition-duration: 0.6s;
}
footer .contact a span{
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    display: inline-block;
    border: 1px solid #292a2f;
    border-radius: 50px;
    margin-right: 10px;
    transition-duration: 0.6s;
}
footer .social_media{
    padding: 15px 0px;
}
footer .social_media a{
    font-size: 18px;
    color: #292a2f;
    margin-right: 15px;
    transition-duration: 0.6s;
}
footer .social_media a span{
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    display: inline-block;
    border: 1px solid #292a2f;
    border-radius: 50px;
    margin-right: 10px;
    transition-duration: 0.6s;
}
footer .contact a:hover{
    color: #1b9bcd;
    transition-duration: 0.6s;
}
footer .contact a:hover span {
    background: #1b9bcd;
    color: #fff;
    border-color: #1b9bcd;
    transition-duration: 0.6s;
}
footer .social_media a:hover{
    color: #1b9bcd;
    transition-duration: 0.6s;
}
footer .social_media a:hover span{
    background: #1b9bcd;
    color: #fff;
    border-color: #1b9bcd;
    transition-duration: 0.6s;
}
footer .copy{
    background: #161616;
    color: #fff;
    line-height: 50px;
}
footer .copy p{
    float: left;
}
footer .copy span{
    float: right;
}














































